body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADER -------------------------------------------------------------------------------------------------------------------*/
header{
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    align-items: baseline;
}
.header-logo{
    font-size: 24px;
}
.header-link{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 20px;
}
.header-link a, .header-link a:active{
    text-decoration: none;
    padding-left: 1.5rem;
    color: #E5E7EB;
    transition-duration: 0.2s;
}
.header-link a:hover{
    color: #697585;
    transition-duration: 0.2s;
}
/* HEADER END -------------------------------------------------------------------------------------------------------------------*/


/* HERO -------------------------------------------------------------------------------------------------------------------*/
.hero{
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    color: #F9FAF8;
    height: 32rem;
    padding-top: 12rem;
    padding-left: 8rem;
    padding-right: 8rem;
}
.hero-text{
    max-width: 25rem;
}
.hero-h1{
    max-width: 25rem;
    font-size: 48px;
}
.hero-p{
    color: #E5E7EB;
    font-size: 18px;
}
.hero-btn{
    background-color: #3882f6;
    border: #3882f6 solid;
    border-radius: 0.35rem;
    padding: 0.2rem 1.5rem 0.2rem 1.5rem;
    color: #F9FAF8;
    cursor: pointer;
    font-size: 17px;
}
.hero-img{
    width: 30rem;
    background-color: #5d6775;
    border-radius: 0.1rem;
    height: 16rem;
    font-size: 20px;
    margin-top: 3rem;
}
.hero-img p{
    display: flex;
    justify-content: center;
    margin: 7.5rem 1rem 5rem 1rem;
}
/* HERO END -------------------------------------------------------------------------------------------------------------------*/


/* INFO -------------------------------------------------------------------------------------------------------------------*/
.info-h2{
    color: #1F2937;
    text-align: center;
    margin-top: 2rem;
    font-size: 36px;
    margin-bottom: 4rem;
}
.info img{
    border: #3882f6 solid 0.3rem;
    border-radius: 1rem;
    height: 10rem;
    width: 10rem;
}
.info-img-text{
    text-align: center;
    width: 10rem;
}
.info{
    display: flex;
    justify-content: space-around;
    margin: 3rem 20rem 3rem 20rem;
    height: 20rem;
}
/* INFO END -------------------------------------------------------------------------------------------------------------------*/


/* QUOTE -------------------------------------------------------------------------------------------------------------------*/
.quote{
    background-color: #E5E7EB;
    padding: 6rem;
    display: grid;
    justify-content: center;
}
.quote-p{
    max-width: 50rem;
    font-size: 36px;
}
.quote-p-author{
    margin-left: 34rem;
    font-size: 20px;
}